footer
    .response
        .cards
            
                .card
                    h3 Notre société
                    .inner
                        .visual
                            + svg_lowtech
                        .txt
                            span SAS LOWTECH
                            span 7 RUE DES CORROYEURS 
                            span 67200 STRASBOURG, France
                            span Siret : 88861855000014
                .card
                    h3 Notre partenaire
                    .inner
                        .visual
                            + svg_qsbail
                        .txt
                            span SAS QSBAIL
                            span 8 B RUE DE LA JONCHERIE 
                            span 88200 REMIREMONT, France
                            span Siret : 91894548600010
                .card.social
                    h3 Suivez-nous
                    .inner
                        .visual.social
                            + svg_facebook
                        .visual.social
                            + svg_instagram
                        .visual.social
                            + svg_boamp
                .card.local
                    h3 Action régionale
                    .inner
                        .visual
                            + svg_alsace
                        .txt
                            .vertical
                                span Société familiale
                                span.highlighted Alsacienne
                           
                        
        .menu
            ul.parent
                each i in new Array(1)
                    li.parent 
                        a(href='#') Climatisation
                        ul.child
                            each i in new Array(1)
                                li.child 
                                    a(href='#') Climatiseurs mobiles
                                li.child 
                                    a(href='#') Climatiseurs Splits
                                li.child 
                                    a(href='#') Prêt-à-poser
                    li.parent 
                        a(href='#') Chauffage
                        ul.child
                            each i in new Array(1)
                                li.child 
                                    a(href='#') Radiateurs électriques
                                li.child 
                                    a(href='#') Pompe-à-chaleur Air/Air
                                li.child 
                                    a(href='#') Pompe-à-chaleur Air/Eau
                    li.parent 
                        a(href='#') Eau Chaude
                        ul.child
                            each i in new Array(1)
                                li.child 
                                    a(href='#') Ballon thermo-dynamique
                                li.child 
                                    a(href='#') Ballon Solaire
                                li.child 
                                    a(href='#') Système solaire combiné
                    li.parent 
                        a(href='#') Solaire
                        ul.child
                            each i in new Array(1)
                                li.child 
                                    a(href='#') Panneaux Solaires 3 kWc
                                li.child 
                                    a(href='#') Panneaux Solaires 6 kWc
                                li.child 
                                    a(href='#') Panneaux Solaires 9 kWc
                    li.parent 
                        a(href='#') Pilotage Connecté
                        ul.child
                            each i in new Array(1)
                                li.child 
                                    a(href='#') Thermostat Connecté
                                li.child 
                                    a(href='#') Volet roulant Connecté
                                
                    li.parent 
                        a(href='#') Infos pratiques
                        ul.child
                            each i in new Array(1)
                                li.child 
                                    a(href='#') Condition générales
                                li.child 
                                    a(href='#') Confidentialité
                                li.child 
                                    a(href='#') Cookies
                                li.child 
                                a(href='#') Crédits#
                                
                    
