header
    .el.logo
        + svg_lowtech
    .el.menu
        .vertical
            .burger
            ul.parent
                
                li.parent
                    a(href='#why') Pourquoi agir ?
                li.parent
                    a(href='#solution') Quelle solution ?
                li.parent
                    a(href='#aboutus') Qui sommes-nous ?
                
    .el.buttons 
        .vertical 
            ul.parent
                li.parent
                    a(href='#')
                        span.icon.icon-phone
                