/* FONT-FAMILY VARIABLES */
$base-font: 'Montserrat', sans-serif;

/* FONT-SIZE VARIABLES */
$tiny-size:8px;
$small-size:12px;
$base-size:16px;
$medium-size:24px;
$big-size:48px;
$fat-size:72px;

/* FONT-WEIGHT VARIABLES */
$base-weight:300;

/* COLOR VARIABLES */
$back-color:#F3F3F3;
$base-color:#222;
$dark-color:#222;
$light-color:#FFFFFF;
$grey-color:#DDDDDD;

/* OTHERS COLOR VARIABLES */
$first-color:#434bdf;
$second-color:#d80075;
$third-color:#29d377;
$quart-color:#f9c804;

/* PADDING VARIABLES */
$tiny-pad:20px;
$base-pad:50px;
$medium-pad:70px;
$big-pad:90px;